<transition name="person-appear-animation" enter-active-class="animated flipInX">
  <div v-if="person.name">
    <div class="card card-block">
      <h1 class="card-title">{{ person.name }}</h1>
      <p class="card-text">Height: {{ person.height }}</p>
      <p class="card-text">Weight: {{ person.mass }}</p>
      <p class="card-text">Gender: {{ person.gender }}</p>
      <p class="card-text" v-if="vehicles.length > 0">Vehicles:
        <ul v-for="vehicle in vehicles">
          <li>{{ vehicle.name }}</li>
        </ul>
      </p>
      <p class="card-text" v-else>Vehicles: n/a</p>
    </div>
    <hr>
    <router-link class="" to="/people">
      <i class="fa fa-chevron-left"></i> Back to people
    </router-link>
    <router-link class="btn btn-outline-info float-right" :to="{ name: 'editPost', params: { id: person.id }}">
      <i class="fa fa-pencil"></i> Edit
    </router-link>
  </div>
</transition>
